// USER VARIABLES SECTION

$primary-accent: rgb(0, 102, 255); // Primary Accent Color
$primary-bgcolor: #fafafa; //Primary Background Color
$fontsize: 16; // Html, Body Primary Font Size
$main-font-color: #333; // Primary Text Color
$systemfont: -apple-system,
BlinkMacSystemFont,
Arial,
sans-serif; // System Font Family
$roboto: Roboto,
sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;